<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <nav>
      <a href="/doodles">
        <img src="/images/dog.png" id="logo" alt="doodleDo logo">
      </a>
      
      <a href="/users/<%= user.id %>">
        <img id="avatar" src="<%= user.avatar %>" alt="avatar">
      </a>
      
    </nav>
</body>
</html>