<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
        DoodleDo
    </title>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
<link href='https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap' rel='stylesheet'>
</head>

<body>
    <div id='index-container'>
        <img src='/images/gif-max-res.gif' id='gif' alt='gif'>
        <div class='circle'>
             <a href='/auth/google' class='titles'>  Login  </a>
        </div>  
       
    </div>
</body>

</html>