body {
  padding: 50px;
  font-family: "Karla", sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}


.avatar {
  position: absolute;
  top: 0;
  left: 2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#avatar-comment {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#profile-avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border-color: coral;
}

#user-name-view {
  font-size: large;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 5vmin;
  font-style: italic;
}

.comment {
  margin-left: 3vmin;
}

#logo {
  position: absolute;
  border-radius: 30%;
  width: 60px;
  height: 60px;
}

.comment {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vmin;
  color: rgb(92, 88, 88);
}

#add-comment-form {
  display: inline-flex;
  padding-left: 2vmin;
  padding-right: 2vim;
}

#like {
  background-color: transparent;
  border: 0;
}

.submit-button {
  color: rgb(255, 255, 255);
  margin-top: 4vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 3vmin;
  border: 0.1vmin solid coral;
  margin-right: 10px;
  background-color: coral;

}

.like-count {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vmin;
  color: rgb(92, 88, 88);

}

#gif {
  height: 60vmin;
  width: 60vmin;
  display: flex;


}

#index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.titles {
  font-family: 'karla';
  font-size: 5vmin;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .circle {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.926);
  padding: 12px 55px;
  border-radius: 38%;
  border: 3px solid #000000f5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); 
} */



.feed {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  align-items: center;
}


.feed-container {
  width: 530px;
}

.feed-post {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.nav-container {
  width: 100%;
  position: relative;
}

nav {
  position: fixed;
  display: inline-flex;
  top: 4vmin;
  right: 7vmin;

}

nav a {
  display: inline-block;
  margin-right: 8vmin;

}

#plus {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
}

#text-area {
  border-color: rgb(6, 155, 6);
  border-width: .3vmin;
}

.like-container {
  display: flex;
  align-items: center;
}

.like-container button {
  margin-right: 10px;
  
}