<%- include('../partials/header') %>
<br>
<br>
<h1>feed</h1>


<div id="feed">
    <% doodles.forEach(function(doodle) { %>
    <li>
        <a href="/doodle/<%= doodle._id %>">
            <img class="feed-post" src="<%= doodle.img %>">
        </a>
    </li>
<% }); %>
</div>

<%- include('../partials/footer') %>