<%- include('../partials/header') %>
<br>
<br>
<h1>feed</h1>


 <!-- for lop through doodles array  creating ali that has an 
anchor tag that has an image 
<a href="/doodles/< %= doodles[i]._id%" 
img src=post[i].image (cloudinary url)-->
<%- include('../partials/footer') %>