<%- include('../partials/header') %>
<br><br><br>
<div class="feed">
    <img class="feed-post" src="<%= doodle.img %>">
</div>
<div class="comment">
    <form action=""></form>
</div>
<%- include('../partials/footer') %>